* text=auto eol=lf

*.c text eol=lf
*.h text eol=lf
Makefile text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.sh text eol=lf

# Prevent edits without an explicit Git LFS lock
docs/RFC8762.txt lockable